Inventory.Client.WCF/Connected Services/WCFService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryAndOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IInventoryAndOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inventory.WCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryAndOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_GetStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStocks" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_GetStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStocksResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_GetStockById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockById" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_GetStockById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAndOrderService_StockQuantityChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StockQuantityChanged" />
  </wsdl:message>
  <wsdl:portType name="IInventoryAndOrderService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAndOrderService/CreateOrder" message="tns:IInventoryAndOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAndOrderService/CreateOrderResponse" message="tns:IInventoryAndOrderService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAndOrderService/GetStocks" message="tns:IInventoryAndOrderService_GetStocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAndOrderService/GetStocksResponse" message="tns:IInventoryAndOrderService_GetStocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockById">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAndOrderService/GetStockById" message="tns:IInventoryAndOrderService_GetStockById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAndOrderService/GetStockByIdResponse" message="tns:IInventoryAndOrderService_GetStockById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAndOrderService/GetOrders" message="tns:IInventoryAndOrderService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAndOrderService/GetOrdersResponse" message="tns:IInventoryAndOrderService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StockQuantityChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAndOrderService/StockQuantityChanged" message="tns:IInventoryAndOrderService_StockQuantityChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IInventoryAndOrderService" type="tns:IInventoryAndOrderService">
    <wsp:PolicyReference URI="#NetTcpBinding_IInventoryAndOrderService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateOrder">
      <soap12:operation soapAction="http://tempuri.org/IInventoryAndOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocks">
      <soap12:operation soapAction="http://tempuri.org/IInventoryAndOrderService/GetStocks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockById">
      <soap12:operation soapAction="http://tempuri.org/IInventoryAndOrderService/GetStockById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/IInventoryAndOrderService/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockQuantityChanged">
      <soap12:operation soapAction="http://tempuri.org/IInventoryAndOrderService/StockQuantityChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryAndOrderService">
    <wsdl:port name="NetTcpBinding_IInventoryAndOrderService" binding="tns:NetTcpBinding_IInventoryAndOrderService">
      <soap12:address location="net.tcp://localhost:11111/InventoryAndOrderService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11111/InventoryAndOrderService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>